page-select {
    ion-content{
        background: url("../../assets/imgs/sayan-nath-180616-unsplash.jpg");
        background-size: cover;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .container{
        background: linear-gradient(rgba(194, 145, 120, 0.438), rgba(132, 76, 47, .7));
        padding: rem;
    }

    .flexcontainer{
        display: flex;
        justify-content: center;
    }

    .imageflex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 15rem;
    }

    .image{
        height: 15rem;
        width: 15rem;
        transition: all .5s ease;
        padding: .5rem;
    }

    .image:hover{
        box-shadow: rgba(0, 0, 0, 0.623) .2rem .2rem 2rem;
        transform: translateY(-.5rem);
        background: rgba(255, 0, 0, 0.507);
    }

    .image:active{
        box-shadow: rgba(0, 0, 0, 0.7) .2rem .2rem 2rem;
        transform: translateY(.5rem);
        transform: scale(1.5);
    }

    .heading, .activity{
        color: white;
        text-align: center;
    }

    .heading{
        text-transform: capitalize;
        font-size: 3rem
    }

    .activity{
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .2rem;
    }
}
